<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Kabupaten Kota</title>
  {{!-- Bootstrap CSS --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Add Kabupaten Kota</h1>
    <div class="d-flex justify-content-center">
      <form action="/add-kabkot" method="post" enctype="multipart/form-data" style="width: 400px;" >
        <div class="mb-3">
          <label for="inputNameKabKot" class="form-label">Nama Kabupaten/Kota</label>
            <input
              type="text"
              class="form-control"
              id="inputNameKabKot"
              name="inputNameKabKot"
            />  
        </div>
        <div class="mb-3">
          <label for="inputDiresmikanKabKot" class="form-label">Diresmikan</label>
            <input
              type="text"
              class="form-control"
              id="inputDiresmikanKabKot"
              name="inputDiresmikanKabKot"
            />  
        </div>
        <div class="mb-3">
          <label for="inputProvinsiId" class="form-label">Provinsi</label>
          <select class="form-select" name="inputProvinsiId">
            <option value="" selected hidden>Select Provinsi</option>
            {{#each data}}
            <option value={{this.id}} id="inputProvinsiId">{{this.name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label"
                >Upload Image</label
            >
            <input
                type="file"
                name="inputImageKabKot"
                id="formFile"
                class="form-control"
            />
        </div>
        <div class="mb-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-12">
              <button type="submit" class="btn btn-primary px-4 col-12">
                Submit
              </button>
            </div>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center">
      <div style="width: 400px;" class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="/" class="col-12">
          <button class="btn btn-danger px-4 col-12">
            Cancel
          </button>
        </a>
      </div>
    </div>
  </div>
  {{!-- Bootstrap JS --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>